<template>
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li v-for="(item,key) of countries" :key="key">
        <router-link :to="'/country/'+item.id">{{item.country}}</router-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {
      countries: null
    };
  },
  mounted() {
    axios
      .get("/api/countries")
      .then((response=>{
        this.countries=response.data
        }))
      .catch(function(error) {
        console.log(error);
      });
  }
};
</script>

<style>
</style>
