<template>
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li v-for="(item,key) of cities" :key="key">
        <router-link :to="'/city/'+item.id"><span @click="clickCity(item)">{{item.city}}</span></router-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {
      cities: null
    };
  },
  mounted() {
    axios
      .get("/api/country/" + this.$route.params.country_id)
      .then(response => {
        this.cities = response.data;
       // console.log(response.data);
      })
      .catch(function(error) {
        console.log(error);
      });
  },
  methods: {
    clickCity(city) {
      //city.lat=Number(city.lat)
      //city.lng=Number(city.lng)
      this.$store.commit('clickCity',city)
    }
  }
};
</script>


