<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card card-default">
          <div class="card-header">Map Cities</div>

          <div class="card-body">
            <GmapMap
              :center="{lat:Number(city.lat), lng:Number(city.lng)}"
              :zoom="15"
              map-type-id="roadmap"
              style="width: 100%; height: 500px"
            >
              <GmapMarker
                :key="index"
                v-for="(item, index) in markers"
                :position="item.position"
                :clickable="true"
                :draggable="true"
                @click="center=item.position"
              />
            </GmapMap>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
//import * as VueGoogleMaps from "vue2-google-maps";
//import { gmapApi } from "vue2-google-maps";
export default {
  computed: {
    //google: gmapApi,
    city: function() {
      return {
        lat: this.$store.state.city.lat,
        lng: this.$store.state.city.lng
      };
    },
    markers: function() {
      return [];
    }
  }
};
</script>
<style scoped>
.card-body {
  padding: 0;
}
</style>
