<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card card-default">
          <div class="card-header">Map Clients</div>

          <div class="card-body">
            <GmapMap
              :center="{lat:55.755826, lng:37.617300}"
              :zoom="11"
              map-type-id="roadmap"
              style="width: 100%; height: 500px"
            >
              <!--              <GmapMarker
                :key="key"
                v-for="(item, key) in userTrack"
                :position="{lat:Number(item.lat),lng:Number(item.lng)}"

              />-->
              <GmapPolyline :path.sync="userTrack" :options="{ strokeColor:'#F50707'}"/>
            </GmapMap>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
//import * as VueGoogleMaps from "vue2-google-maps";
import { gmapApi } from "vue2-google-maps";
export default {
  //clickUserTrack
  watch: {
    $route(to, from) {
      // react to route changes...
      //alert(this.$route.params.user_id);
      this.$store.dispatch("clickUserTrack", this.$route.params.user_id);
    }
  },
  computed: {
    //google: gmapApi,
    userTrack: function() {
      return this.$store.state.userTrack;
    }
  },
  mounted() {
    //alert("mounted")
    this.$store.dispatch("clickUserTrack", this.$route.params.user_id);
  }
};
</script>
<style scoped>
.card-body {
  padding: 0;
}
</style>
