<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card card-default">
          <div class="card-header">Map Clients
            
          </div>

          <div class="card-body">
            <modal-component v-if="showModal" @close="showModal = false"></modal-component>
            <GmapMap
              :center="{lat:55.755826, lng:37.617300}"
              :zoom="11"
              map-type-id="roadmap"
              style="width: 100%; height: 500px"
            >
              <GmapMarker
                :key="key"
                v-for="(item, key) in users"
                :position="item.position"
                :clickable="true"
                :draggable="true"
                @click="clickMarker(item)"
              />
            </GmapMap>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
//import * as VueGoogleMaps from "vue2-google-maps";
//import { gmapApi } from "vue2-google-maps";
import ModalComponent from "./ModalComponent";
export default {
  data: 
    function() {
      
      return { showModal: false };
    }
  ,
  computed: {
    //google: gmapApi,
    users: function() {
      return this.$store.state.users;
    }
  },
  methods: {
    clickMarker(user) {
      this.$store.dispatch("clickUser",user.id)
      this.showModal = true;
    }
  },
  components: {
    ModalComponent
  }
};
</script>
<style scoped>
.card-body {
  padding: 0;
}
</style>
