<template>
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li v-for="(item,key) of users" :key="key">
        <router-link :to="'/user/'+item.id">
          <span @click="clickUser(item)">{{item.name}}</span>
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {
      //users: []
    };
  },
  mounted() {
    axios
      .get("/api/users")
      .then(response => {
        var users = response.data;
        var users = users.map(function(item) {
          item.position = {
            lat: Number(item.last_coordinate.lat),
            lng: Number(item.last_coordinate.lng)
          };
          delete item.last_coordinate
          return item;
        });
        this.$store.commit("initUsers", users);
      })
      .catch(function(error) {
        console.log(error);
      });
  },
  computed:{
        users:function(){
          return this.$store.state.users
        }
  },    
  methods: {
    clickUser(user) {
    //  alert("xx");
    }
  }
};
</script>

<style>
</style>
